<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello！, ' + ${userName} + '!'" >3333</p>

<div sec:authorize="hasAuthority('ADMIN')">
    This will only be displayed if authenticated user has role ADMIN.
</div>

<li>
    <a href="/logout">
        <i class="ace-icon fa fa-power-off"></i>
        Logout
    </a>
</li>
</body>
</html>
